.imagediv{
    margin-top:10px;
    box-shadow: 0px 0px 13px rgba(53, 53, 53, 1);
    border-radius:10px;
    transition:box-shadow 300ms, border-radius 300ms;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.imagediv:hover{
    box-shadow: 0px 0px 13px rgb(255, 0, 0);
}

.title{
    margin-top: 8px;
    margin-bottom:6px;
    margin-left:8px;
    font-size:20px;
    transition:opacity 300ms;
    cursor:pointer;
}

.friends{
    margin-top:0px;
    font-weight:300;
    margin-left:8px;
    font-size:15px;
    color:rgb(92, 92, 92);
    cursor:pointer;
    display:inline-block;
    
}

.accimage{
    width:100%;

    margin-bottom:0px;
    transition:transform 300ms, border-radius 300ms;

    cursor:pointer;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.accimage:hover{
    transform:scale(1.05);
    border-radius:15px;
    box-shadow:0px 0px 14px rgb(28, 62, 255);
    
}

.folbutton{

    height:40px;
    border-width:0px;
    border-radius:10px;
    margin-left:12px;
    margin-bottom:12px;
    color:white;
    background-color:rgb(66, 66, 255);
    font-size:15px;
    transition:color 400ms, background-color 300ms;
    cursor:pointer;
    position:relative;
    display:flex;
    flex:1;
    max-width:150px;
    margin-right:12px;
    align-items:center;
    justify-content:center;

   
}

.buttondiv{
    display:flex;
    flex-direction:row;
    width:100%;
    

}

.folbutton:hover{
    background-color:white;
    color:rgb(0, 0, 255);
    border-width:3px;
    border-style:solid;
    border-color:rgb(66, 66, 255);
    
}

.folbutton:hover .subscribe{
    opacity:100%;
}

.subscribe{
    width:100px;
    position:absolute;
    background-color:yellow;
    color:black;
    padding-top:8px;
    border-radius:8px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    top:-90px;
    box-shadow:0px 0px 14px rgb(44, 44, 44);
    opacity:0%;
    transition:opacity 300ms;
    pointer-events:none;
}

.subscribe img{
    width:45px;
    margin-top:4px;
    margin-bottom:7px;
}