*{
    font-family:Roboto, Arial;
}

a{
    text-decoration:none;
    color:inherit;
    margin:0px;
}

div{
    border-radius:inherit;
}


body::-webkit-scrollbar {
    width: 0; 
    background: transparent; 
}

body{
    height:100%;
    margin:0px;
    padding-top:18px;
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
   
  
}


.body-container{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    align-items: start;
    justify-content: space-between;

}

.intro-div{
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content: start; 
    align-items:left;
    padding-left:160px;
}


.title-text{
    font-size:55px;
    color:white;
    margin-top:11%;
    margin-bottom:20px;
    text-align:left;
}

.description-text{
    width:75%;
    margin:0px;
    color:rgb(255, 255, 255);
    font-size:15px;
    margin-bottom:30px;
    text-align: left;
    
}

.about-img{
    border-radius:25px;
    border-width:2px;
    border-color:white;
    border-style:solid;
    height:430px;
    width:80%;
    object-fit:cover;
    margin-top:10%;



}

.contact-option{
   width:180px;
   border-style:solid;
   border-color:white;
   border-width:2px;
   border-radius:10px;
   margin-left:8px;
   margin-bottom:8px;
   color:white;
   display:flex;
   flex-direction:row;
   height:50px;
   align-items:center;
   backdrop-filter: blur(10px);
   cursor:pointer;
   transition:border-color 0.2s;

}

.contact-option:hover{
   border-color:red;
}

.contact-option p{
   display:block;
}

.contact-icons{
   height:35px;
   margin-right:18px;
   margin-left:18px;
}


.grid-container{
    height:100%;
    width:100%;
    flex:1;
    display:flex;
    justify-content:center;
    
}

.button-64 {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(131, 23, 255, 0.973) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 20px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
  }
  
  .button-64:active,
  .button-64:hover {
    outline: 0;
   
  }
  
  .button-64 span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
  }
  
  .button-64:hover span {
    background: none;
  }


#video-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index:-1;
  }
  
  #video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(70%);
  }
  



@media (min-width: 471px) and (max-width: 800px) {
    .container{
        grid-template-columns: 1fr 1fr;
        width:100%;
    }

    .secondcontainer{
        display:none;
    }
}  



@media (max-width: 470px) {
    .container{
        grid-template-columns: 1fr;
        justify-items: center;
        width:100%;
    }

    .secondcontainer{
        display:none;
    }


    .webtitle, .leftsection{
        display:none;
        position:fixed;
    }

}



@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}



